<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MKDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\programowanie\web\MKTournament\MKTournament\App_Data\MKDB.mdf;Integrated Security=True" />
    <add name="DAL.Properties.Settings.MKDBConnectionString" connectionString="Data Source=|DataDirectory|\MKDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="DAL.Properties.Settings.MKDBConnectionString1" connectionString="Data Source=D:\programowanie\web\MKTournament\MKTournament\Database\MKDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="DAL.Properties.Settings.MKDBConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\programowanie\web\MKTournament\MKTournament\App_Data\MKDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>